<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/custom.css"}}">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!-- Uncomment for testing icons locally -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 style="font-size: 26px;">{{ site.title | default: site.github.repository_name }}</h1>

        {% if site.logo %}
        <img src="{{site.logo | relative_url}}" alt="Logo" class="profile-photo"/>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>
        <script src="https://kit.fontawesome.com/0b9d12e097.js" crossorigin="anonymous"></script>
        <nav>
          <ul style="list-style-type: none; padding: 0; display: flex; justify-content: space-around;">
            <li>
              <a href="https://github.com/RyanOthnielKearns">
                <i class="fa-brands fa-github"></i>
              </a>
            </li>
            <li>
              <a href="https://www.linkedin.com/in/ryanothnielkearns/">
                <i class="fa-brands fa-linkedin"></i>
              </a>
            </li>
            <li>
              <a href="https://scholar.google.com/citations?user=O3dq-xkAAAAJ">
                <i class="fa-brands fa-google-scholar"></i>
              </a>
            </li>
            <li>
              <a href="https://ryanothnielkearns.substack.com">
                <i class="fa-solid fa-bookmark"></i>
              </a>
            </li>
            <li>
              <a href="https://www.x.com/RyanOthKearns">
                <i class="fa-brands fa-x-twitter"></i>
              </a>
            </li>
            <li>
              <a href="https://www.goodreads.com/user/show/147063317">
                <i class="fa-brands fa-goodreads"></i>
              </a>
            </li>
            
          </ul>
        </nav>
      </header>
      <section>

      {{ content }}

      </section>
    <footer>
      <div class="switch">
        <label class="theme-switch" for="checkbox">
            <input type="checkbox" id="checkbox" />
            <div class="slider round"></div>
        </label>
    </div>
    </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    <script src="{{ "/assets/js/custom.js" }}"></script>
  </body>
</html>
